body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin:0px;
    display: flex;
    flex-direction: column;

}

.header{
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 0px 200px 100px 200px;
    gap:100px;
    background-color: #1F2937;
}

.contenedor1,.contenedor2{
    height: 72px;
}

.contenedor1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display:flex;
    gap:16px;
    list-style-type: none;
    margin:0px;
    padding:0px;
}

.herologo{
    font-size: 24px;
    font-weight: 700;
    color: #E5E7Eb
}

.herosecundary{
    font-size: 18px;
    color: #F9FAF8;
}

.contenedor2{
    display: flex;
    flex-grow: 1;
}

.contenido2-0{
    display: flex;
    flex-direction: column;
    gap:16px;
    padding: 16px 50px 16px 0px;
    width:30%;
}

.heromain{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.contenido2-1{
    flex-grow: 1;
}

.boton1{
    width: 100px;
    padding: 8px;
    border-radius: 15%;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 700;
    color: #E5E7Eb;
}

.info{
    height: 500px;
}

.tituloinfo{
    display: flex;
    justify-content: center;
    margin:40px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.contenedor3{
    height: 50%;
    display:flex;
    justify-content: center;
    gap:32px
    
}
.contenido3{
    border:solid #3882F6;
    width: 200px;
    border-radius: 10%;
    flex-grow: 1;
    
}

.auxiliar{
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
}
.texto{
    text-align: center;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #E5E7Eb;
    
}

.contenedor4{
    display:flex;
    flex-shrink: 1;
    font-size: 36px;
    color:#1F2937;
    font-weight: 300;    
    font-style:italic;
    padding: 32px;
    padding-bottom: 0;
    
}
.contenedor5{
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 22px;
}
.auxiliarquote{
    width: 50%;
}


.bottom{
    height: 350px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.contenedor6{
    display:flex;
    width: 70%;
    height: 40%;
    background-color: #3882F6;
}

.auxiliarbottom{
    display:flex;
    flex-grow: 1;
}

.contenedor7{
    display: flex;
    flex-direction: column;
    width:50%;
    justify-content: center;
    padding-left: 150px;
    color:white;
    
}

.texto2{
    font-size: 26px;
    font-weight: 700;

}


.contenedor8{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.contenedor8 button{
    padding: 8px 26px;
    border-radius: 11%;    
    color: white;
    border-color: white;
    font-size: 16px;
    font-weight: 700;
    background: #3882F6;
}



.footer{
    border:solid red;
    height: 72px;
    margin-top: auto;

}
    
